astroid==2.3.3
autopep8==1.4.4
certifi==2020.4.5.1
cffi==1.13.2
colorama==0.4.3
cycler==0.10.0
isort==4.3.21
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
matplotlib==3.1.2
mccabe==0.6.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mysql-connector-python==8.0.20
nidaqmx==0.5.7
numpy==1.17.4
pandas==1.0.3
protobuf==3.12.2
pycodestyle==2.5.0
pycparser==2.19
pylint==2.4.4
pyparsing==2.4.5
python-dateutil==2.8.1
pytz==2020.1
scipy==1.3.2
six==1.13.0
sounddevice==0.3.14
wincertstore==0.2
wrapt==1.11.2
